@font-face {
  font-family: Bosch;
  src: url(Bosch-Display-Font/Bosch-Display-Font/OTF-File/Bosch.otf);
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

:root {
  --hero-section-secondary-bg-color: #151515;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  max-width: 1200px;
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0 auto;
}

main .hero-section {
  /* display: flex; */
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  max-width: 100%;
  height: 100vh;
  display: none;
}

main .hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 100vh;
  background-color: var(--hero-section-secondary-bg-color);
}

.image-of-hero-section {
  transform: translateX(400px);
  justify-self: center;
  align-self: flex-start;
  height: 100%;
}
.image-of-hero-section img {
  width: 450px;
  height: 100%;
  object-fit: cover;
}

main .hero-section h1 {
  padding: 0.5rem;
  position: absolute;
  word-spacing: -5px;
  left: 60px;
  top: 180px;
  font-family: Bosch;
  font-size: 100px;
  background: linear-gradient(
    to right,
    white 57.9%,
    var(--hero-section-secondary-bg-color) 0%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

aside {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  right: 100px;
  top: 180px;
  width: 300px;
  padding: 0.5rem;
  row-gap: 40px;
}

aside p {
  color: var(--hero-section-secondary-bg-color);
  font-size: 16px;
  text-align: left;
  padding: 5px;
  text-transform: capitalize;
  line-height: 22px;
}

aside div {
  width: 80%;
  display: flex;
  height: 50px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

aside div button {
  flex-basis: 75%;
  height: 100%;
  font-size: 18px;
  text-transform: uppercase;
  padding: 0.3rem 0.5rem;
  font-weight: bolder;
  border: none;
  color: white;
  background-color: var(--hero-section-secondary-bg-color);
}

aside div img {
  flex-basis: 25%;
  object-fit: contain;
  color: white;
  background-color: #d3956b;
  height: 100%;
  cursor: pointer;
}

img {
  width: 100px;
}

main .art-gallery-section {
  max-width: 1000px;
  border: 3px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

main .art-gallery-section .gallery-about-info {
  /* border: 4px solid green; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  margin: 40px auto;
}

main .art-gallery-section .gallery-about-info .gallery-description-text {
  /* border: 4px solid blue; */
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

main .art-gallery-section .gallery-about-info .gallery-description-text h2 {
  text-transform: uppercase;
  font-family: Bosch;
  font-weight: bold;
  font-size: 35px;
  line-height: 40px;
  color: var(--hero-section-secondary-bg-color);
  font-style: normal;
  text-align: center;
  /* border: 2px solid red; */
  width: 60%;
  margin-left: 10%;
}

main .art-gallery-section .gallery-about-info .gallery-description-text p {
  width: 80%;
  margin-left: 10%;
  text-align: left;
  line-height: 23px;
  margin-top: 20px;
  font-size: 16px;
  color: #171616;
}

main .art-gallery-section .gallery-about-info img {
  /* border: 4px solid gold; */
  flex-basis: 50%;
  object-fit: cover;
  margin: 5px auto;
}

main .artworks-display {
  width: 100%;
  border: 4px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin-bottom: 100px;
  /* column-gap: 20px; */
}

main .artworks-display > img {
  width: 400px;
  height: 300px;
  object-fit: cover;
}

main .artworks-display > div {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .artworks-display > div img {
  /* width: 100%; */
  width: 250px;
  height: 150px;
  object-fit: cover;
  border: 3px solid red;
}

main .artworks-display > div .inspiration-invitation {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 0.5rem;
  margin-top: 20px;
  background-color: var(--hero-section-secondary-bg-color);
}

main .artworks-display > div .inspiration-invitation > h3 {
  border: 2px solid red;
  font-family: bosch;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  padding: 0.2rem;
  font-size: 24px;
  color: white;
}

main .artworks-display > div .inspiration-invitation > p {
  color: rgb(243, 241, 241);
  padding: 0.5rem;
  font-size: 16px;
}

/* Tablet version */

@media screen and (max-width: 1023px) {
  body {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 auto;
  }

  main .hero-section {
    width: 100%;
    display: flex;
    height: 100vh;
    display: none;
  }

  main .hero-section::before {
    width: 0;
    height: 0;
  }

  .image-of-hero-section {
    max-width: 60%;
    transform: translateX(0px);
  }

  main .hero-section h1 {
    left: 45%;
    top: 160px;
    font-family: Bosch;
    font-size: 60px;
    max-width: 500px;
    color: var(--hero-section-secondary-bg-color);
  }

  aside {
    left: 45%;
    top: 320px;
    width: 400px;
  }

  aside div {
    width: 70%;
    height: 55px;
  }
}

/* Moblie version  */
@media screen and (max-width: 767px) {
  main .hero-section {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
  }

  main .hero-section::before {
    content: "";
    position: static;
    width: 0;
    height: 0;
    background: none;
  }

  .image-of-hero-section {
    max-width: 100%;
    transform: none;
    margin: 0 auto;
  }
  .image-of-hero-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  main .hero-section h1 {
    position: static;
    font-size: 90px;
    background: none;
    margin: 10px 0;
    margin-top: 50px;
    margin-left: 10px;
    color: var(--hero-section-secondary-bg-color);
  }

  aside {
    position: static;
    width: 90%;
    margin-top: 24px;
    margin-left: 7px;
  }

  aside p {
    font-size: 14px;
  }

  aside div {
    margin-left: 4px;
    width: 60%;
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: 100px;
  }

  aside div button {
    flex-basis: 80%;
    font-weight: 500;
  }

  aside div img {
    flex-basis: 20%;
    object-fit: contain;
  }
}
